.translationForm {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #333;
  width: 200px;
  height: 40px;
  outline: none;
  transition: all 0.3s ease;
}

.translationForm:hover {
  border-color: #888;
}

.translationForm:focus {
  border-color: #007BFF;
}

.header {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.bodyText {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin: 0 20px;
}
